<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%p][%M][%L]-> %m%n</pattern>
        </encoder>
    </appender>

    <appender name="log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%p][%M][%L]-> %m%n</pattern>
            <charset>utf-8</charset>
        </encoder>
        <file>./toTiKV.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>./toTiKV.log.%i</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>300MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="audit" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%p][%M][%L]-> %m%n</pattern>
            <charset>utf-8</charset>
        </encoder>
        <file>./audit.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>./audit.log.%i</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>300MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="checkSum" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%p][%M][%L]-> %m%n</pattern>
            <charset>utf-8</charset>
        </encoder>
        <file>./checkSum.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>./checkSum.log.%i</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>300MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="redo" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%p][%M][%L]-> %m%n</pattern>
            <charset>utf-8</charset>
        </encoder>
        <file>./redo.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>./redo.log.%i</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>300MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="checkSumFail" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>
        <file>./checkSumFail/checkSumFail.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>./checkSumFail/checkSumFail.json.%i</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>300MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="batchPutFail" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>
        <file>./batchPutFail/batchPutFail.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>./batchPutFail/batchPutFail.json.%i</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>300MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="redoFail" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>
        <file>./redoFail/redoFail.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>./redoFail/redoFail.json.%i</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>300MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="logger" level="INFO" additivity="true">
        <appender-ref ref="log"/>
    </logger>

    <logger name="auditLog" level="INFO" additivity="true">
        <appender-ref ref="audit"/>
    </logger>

    <logger name="checkSumLog" level="INFO" additivity="true">
        <appender-ref ref="checkSum"/>
    </logger>

    <logger name="redoLog" level="INFO" additivity="true">
        <appender-ref ref="redo"/>
    </logger>

    <logger name="checkSumFailLog" level="INFO" additivity="true">
        <appender-ref ref="checkSumFail"/>
    </logger>

    <logger name="batchPutFailLog" level="INFO" additivity="true">
        <appender-ref ref="batchPutFail"/>
    </logger>

    <logger name="redoFailLog" level="INFO" additivity="true">
        <appender-ref ref="redoFail"/>
    </logger>

    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
